{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <svg width="256px" height="124px" viewBox="0 0 256 124" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
            <g fill="#6FB643">
                <path d="M120.429511,36.0206222 C120.429511,36.0206222 120.429511,2.2016 154.249244,2.2016 L255.7056,2.2016 C255.7056,2.2016 255.7056,36.0206222 221.886578,36.0206222 L120.429511,36.0206222"></path>
                <path d="M120.429511,79.2334222 C120.429511,79.2334222 120.429511,45.4144 154.249244,45.4144 L204.977067,45.4144 C204.977067,45.4144 204.977067,79.2334222 171.157333,79.2334222 L120.429511,79.2334222"></path>
                <path d="M120.429511,122.446222 C120.429511,122.446222 120.429511,88.6279111 154.249244,88.6279111 L171.157333,88.6279111 C171.157333,88.6279111 171.157333,122.446222 137.339733,122.446222 L120.429511,122.446222"></path>
                <path d="M109.075911,96.0547556 L109.075911,123.034311 L0.32,123.034311 L70.3800889,27.4666667 L10.2357333,27.4666667 L10.2357333,0.485688889 L123.692089,0.485688889 L53.9555556,96.0547556 L109.075911,96.0547556"></path>
            </g>
        </svg>
        <span class="sf-toolbar-value">Zend</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Controller</b>
            <span>{{ collector.controller }}::{{ collector.action }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Zend Score</b>
            <span class="sf-toolbar-status">{{ collector.zendScore }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Doctrine1 Score</b>
            <span class="sf-toolbar-status">{{ collector.doctrineScore }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Legacy Source Files</b>
            <span class="sf-toolbar-status">{{ collector.coverage|length }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
        li { margin-bottom: 0; }
        th span { vertical-align: middle; }
        .icon { line-height: 10px; cursor: pointer; }
        .icon-close, .source { display: none; }
    </style>
{% endblock %}

{% block menu %}
    {% if collector.controller is not empty %}
        <span class="label">
            <span class="icon">
                <svg width="256px" height="124px" viewBox="0 0 256 124" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                    <g fill="#6FB643">
                        <path d="M120.429511,36.0206222 C120.429511,36.0206222 120.429511,2.2016 154.249244,2.2016 L255.7056,2.2016 C255.7056,2.2016 255.7056,36.0206222 221.886578,36.0206222 L120.429511,36.0206222"></path>
                        <path d="M120.429511,79.2334222 C120.429511,79.2334222 120.429511,45.4144 154.249244,45.4144 L204.977067,45.4144 C204.977067,45.4144 204.977067,79.2334222 171.157333,79.2334222 L120.429511,79.2334222"></path>
                        <path d="M120.429511,122.446222 C120.429511,122.446222 120.429511,88.6279111 154.249244,88.6279111 L171.157333,88.6279111 C171.157333,88.6279111 171.157333,122.446222 137.339733,122.446222 L120.429511,122.446222"></path>
                        <path d="M109.075911,96.0547556 L109.075911,123.034311 L0.32,123.034311 L70.3800889,27.4666667 L10.2357333,27.4666667 L10.2357333,0.485688889 L123.692089,0.485688889 L53.9555556,96.0547556 L109.075911,96.0547556"></path>
                    </g>
                </svg>
            </span>
            <strong>Zend Application</strong>
        </span>
    {% endif %}
{% endblock %}

{% block panel %}
    <h2>Zend Application</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.controller }}</span>
            <span class="label">Controller</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.action }}</span>
            <span class="label">Action</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.zendScore }}</span>
            <span class="label">Zend Score</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.doctrineScore }}</span>
            <span class="label">Doctrine1 Score</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.coverage|length }}</span>
            <span class="label">Legacy Source Files</span>
        </div>
    </div>

    <h3>Layer</h3>
    <table>
        <thead>
        <tr>
            <th scope="col" class="key">Layer</th>
            <th scope="col">Files</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Controller</th>
            <td>
                <ul>
                    {% for file,lines in collector.controllerFiles %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">Models</th>
            <td>
                <ul>
                    {% for file,lines in collector.modelFiles %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">Templates</th>
            <td>
                <ul>
                    {% for file,lines in collector.templateFiles %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Legacy Source Files</h3>
    <table>
        <tbody>
        <script type="application/javascript">
            function openFile(index) {
                document.getElementById('file-'+index).style.display = 'block';
                document.getElementById('open-'+index).style.display = 'none';
                document.getElementById('close-'+index).style.display = 'inline';
            }
            function closeFile(index) {
                document.getElementById('file-'+index).style.display = 'none';
                document.getElementById('open-'+index).style.display = 'inline';
                document.getElementById('close-'+index).style.display = 'none';
            }
        </script>
        {% for file, lines in collector.coverage %}
            <tr>
                <th>
                    <span id="close-{{ loop.index }}" class="icon icon-close" onclick="closeFile({{ loop.index }});">
                        <svg width="16" height="21" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1408 960V832q0-26-19-45t-45-19H448q-26 0-45 19t-19 45v128q0 26 19 45t45 19h896q26 0 45-19t19-45zm256-544v960q0 119-84.5 203.5T1376 1664H416q-119 0-203.5-84.5T128 1376V416q0-119 84.5-203.5T416 128h960q119 0 203.5 84.5T1664 416z"></path>
                        </svg>
                    </span>
                    <span id="open-{{ loop.index }}" class="icon icon-open" onclick="openFile({{ loop.index }});">
                        <svg width="16" height="21" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1408 960V832q0-26-19-45t-45-19h-320V448q0-26-19-45t-45-19H832q-26 0-45 19t-19 45v320H448q-26 0-45 19t-19 45v128q0 26 19 45t45 19h320v320q0 26 19 45t45 19h128q26 0 45-19t19-45v-320h320q26 0 45-19t19-45zm256-544v960q0 119-84.5 203.5T1376 1664H416q-119 0-203.5-84.5T128 1376V416q0-119 84.5-203.5T416 128h960q119 0 203.5 84.5T1664 416z"></path>
                        </svg>
                    </span>
                    <span>{{ file }} (L{{ min(lines|keys) }}:{{ max(lines|keys) }})</span>
                </th>
            </tr>
            <tr id="file-{{ loop.index }}" class="source">
                <td>
                    {{ file|file_coverage(lines) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
